<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sistema de entrada 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card align="center" color="secondary">
    <br>
    <img alt="food" src="../assets/icon/STEM.png" />
    <ion-card-header>
      <ion-card-title style="color: black;" > Bienvenido aqui podran aparecer los estudiantes inscritos </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
